# First of all, let's say hello world!

In [1]:
print("hello, world")

hello, world

In [2]:
print("this is how you find help") ##use shift+tab to open a short documentation

this is how you find help

### this is another way of getting help - using the `?`

In [3]:
print?

# Why mastering jupyter notebook and python is essential?
There are different notebook types when working in the data science field.

- should definitely checkout google colab and Watson studio notebook!

In [4]:
print(12345)

12345

In [5]:
print("helu")

helu

# For any programming language, remember "*CRUD*"

- Create
- Read
- Update
- Delete

# 0. Variables

we use `=` to assign variables

In [6]:
space_name = 12345

In [7]:
type(space_name)

int

In [8]:
space_name = 12345.678

In [9]:
type(space_name)

float

# 1. Data types
Some of the most important ones are:
- string
- int
- float
- boolean

#### String
String is a line of text and wrapped inside " ".

In [10]:
test_variable = 'This is a string.' #this is declaring a variable as a string
print(test_variable)

This is a string.

In [11]:
type(test_variable)

str

#### Int
Int stands for integers, it can be postive and neagtive numbers as long as it's not with decimals and trailing numbers.

In [12]:
positive_number = 100
negative_number = -123

In [13]:
type(positive_number)

int

In [14]:
type(negative_number)

int

In [15]:
positive_number + 10

110

In [16]:
float_number = 12345.678

In [17]:
type(float_number)

float

#### Boolean value
Boolean value is either True or False. They have to be used with caps. `True` and `False`

In [18]:
bool_variable = bool(0) 
bool_variable

False

In [19]:
type(bool_variable)

bool

#### Lists
List can contain 'string', 'int' and 'float' etc. They are also known as array. They are contained within square brackets [ ]. We need to separate each value with comma.

In [20]:
list_variable = [1,2,3]
type(list_variable)

list

In [21]:
list_variable

[1, 2, 3]

In [22]:
list_variable = [1,"string",123.45]
type(list_variable)

list

In [23]:
list_variable

[1, 'string', 123.45]

In [24]:
list_variable[0]

1

In [25]:
list_variable[0] = 2
list_variable

[2, 'string', 123.45]

In [26]:
list_variable = [1,"string",123.45, 5,4,3,3,2,2,1]

#### Tuple
Tuple is denoted by a series of values wrapped in parentheses ( ). A core difference between a tuple and a list is that a tuple is **immutable**. i.e. it can't be changed.

In [27]:
tuple_variable = (1.2, 3.4, 1) #more use case in opencv, computer vision type x,y,z coordination
type(tuple_variable)

tuple

In [28]:
tuple_variable

(1.2, 3.4, 1)

In [29]:
tuple_variable[0]

1.2

In [30]:
tuple_variable[0] = 3 ##since it is immutable -> it will create an error once you assigned the variable

TypeError: 'tuple' object does not support item assignment

#### Set
A set is denoted by a series of values wrapped in curly braces { }. Sets are also **immutable**. A core difference between a tuple and a set is that a set **does not contain duplicate values**.

In [31]:
set_variable = {2, 'string', 123.45}
type(set_variable)

set

In [32]:
set_variable[0] ##set object is not subscriptable, it does not have an order so to say

TypeError: 'set' object is not subscriptable

In [33]:
set_variable = {1, 1, 2, 'string', 123.45}

In [34]:
set_variable

{1, 123.45, 2, 'string'}

#### Why do we need to use list, tuple, and set? Why not just use list?
It is useful for type casting. For example,

In [35]:
list_variable

[1, 'string', 123.45, 5, 4, 3, 3, 2, 2, 1]

In [36]:
# Type casting list to set back to list to get rid of duplicates
set(list_variable)

{1, 123.45, 2, 3, 4, 5, 'string'}

In [37]:
list(set(list_variable))

[1, 2, 3, 4, 5, 'string', 123.45]

In [38]:
type(list(set(list_variable)))

list

In [45]:
tuple(list_variable) #tuple, so now it's immutable

(1, 'string', 123.45, 5, 4, 3, 3, 2, 2, 1)


#### Dictionary
keypair = keys and values, where the format has to be `'string'`:`'string'` or `int` or others.

In [40]:
dict_variable = {'name':'Josh', 'favourite_color':'blue', 'favorite_number':99 }
type(dict_variable)

dict

In [41]:
print(dict_variable)

{'name': 'Josh', 'favourite_color': 'blue', 'favorite_number': 99}

#### Why is dictionary powerful?
It allows user to retrieve certain data from key.

In [42]:
person_variable = {'name':'Josh', 'favourite_color':'blue', 'favorite_number':99 }

In [44]:
person_variable['name']

'Josh'

It's important for machine learning model and parameters of the model.

In [47]:
fit_model = {}

# 2. List

#### Create

In [50]:
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagrin', 'elon musk']

#### Read

In [51]:
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagrin', 'elon musk']

In [52]:
names[0]

'neil armstrong'

In [53]:
names[-1]

'elon musk'

In [55]:
len(names)

5

#### Update

In [56]:

names[-1] = 'Shiba Inu'
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagrin', 'Shiba Inu']

In [57]:
names.append('elon musk')

In [58]:
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagrin',
 'Shiba Inu',
 'elon musk']

In [59]:
names.insert?

In [65]:
names.insert(2, 'richard benson')
names

['neil armstrong',
 'buzz aldrin',
 'richard benson',
 'sally ride',
 'yuri gagrin',
 'Shiba Inu',
 'elon musk']

#### Delete

In [66]:
del names[2]
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagrin',
 'Shiba Inu',
 'elon musk']

# 3. Dictionary

#### create

In [72]:
astronaut = {
    'name':'shiba inu',
    'suit_size':'medium',
    'allergies':'chocolate'
}

#### read

In [76]:
astronaut

{'name': 'shiba inu', 'suit_size': 'medium', 'allergies': 'chocolate'}

In [75]:
astronaut['name']

'shiba inu'

In [77]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [78]:
astronaut.keys()[1]

TypeError: 'dict_keys' object is not subscriptable

In [79]:
list(astronaut.keys())[1]

'suit_size'

In [80]:
astronaut.values()

dict_values(['shiba inu', 'medium', 'chocolate'])

In [81]:
list(astronaut.values())[0]

'shiba inu'

#### update

In [84]:
astronaut['allergies'] = 'cotton'

In [85]:
astronaut

{'name': 'shiba inu', 'suit_size': 'medium', 'allergies': 'cotton'}

In [86]:
astronaut['space_ship'] = 'Galatic 1'

In [87]:
astronaut

{'name': 'shiba inu',
 'suit_size': 'medium',
 'allergies': 'cotton',
 'space_ship': 'Galatic 1'}

#### delete

In [88]:
del astronaut['allergies']

In [89]:
astronaut

{'name': 'shiba inu', 'suit_size': 'medium', 'space_ship': 'Galatic 1'}